<!-- About Section -->
<section id="about" class="about">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        <div class="about-content">
            <div class="about-text">
                <p>
                    6th semester Informatics student at ITENAS with a focus and interest in cybersecurity and web development.
                    Experienced in both individual and team web projects, with a solid understanding of system and network security fundamentals.
                </p>
                <p>
                    Highly motivated with a passion for learning, detail-oriented, and always keeping up with the latest technological developments,
                    especially in the fields of cybersecurity and modern web development.
                </p>
            </div>
        </div>
    </div>
</section>
