<!-- About Section -->
<section id="about" class="about">
    <div class="container">
    <h2 class="section-title">Tentang Saya</h2>
        <div class="about-content">
            <div class="about-text">
                <p>
                    Mahasiswa Informatika semester 7 di ITENAS dengan fokus dan minat pada keamanan siber serta pengembangan web.
                    Berpengalaman dalam proyek web individu maupun tim, serta memiliki pemahaman yang kuat tentang dasar-dasar keamanan sistem dan jaringan.
                </p>
                <p>
                    Sangat termotivasi untuk terus belajar, teliti, dan selalu mengikuti perkembangan teknologi terbaru,
                    khususnya di bidang keamanan siber dan pengembangan web modern.
                </p>
            </div>
        </div>
    </div>
</section>
