<!-- Experience Section -->
<section id="experience" class="experience">
    <div class="container">
    <h2 class="section-title">Pengalaman</h2>
        <div class="exp-card">
            <div class="exp-header">
                <h3>Magang Web Developer</h3>
                <h4>PT. Laskar Teknologi Mulia (CyberLabs)</h4>
            </div>
            <div class="exp-content">
                <ul>
                    <li>Membuat & mengembangkan website menggunakan Laravel dan MySQL</li>
                    <li>Mendeploy aplikasi web ke server</li>
                    <li>Bekerja sama dengan tim untuk menyelesaikan tugas yang diberikan</li>
                </ul>
                
                <div class="exp-certificate">
                    <h4>Sertifikat Magang</h4>
                    <div class="exp-certificate-container">
                        <img src="images/My Certificate/CYBERLABS_MAGANG.jpg" alt="Internship Certificate" class="exp-certificate-img">
                        <div class="exp-certificate-overlay">
                            <a href="images/My Certificate/CYBERLABS_MAGANG.jpg" target="_blank" class="cert-view-btn">
                                <i class="fas fa-eye"></i> Lihat Sertifikat Lengkap
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
