<!-- Navigasi -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <h2>Portfolio</h2>
        </div>
        <div class="nav-menu" id="nav-menu">
            <a href="#home" class="nav-link">Beranda</a>
            <a href="#about" class="nav-link">Tentang</a>
            <!--<a href="#experience" class="nav-link">Pengalaman</a>-->
            <!--<a href="#education" class="nav-link">Pendidikan</a>-->
            <a href="#certifications" class="nav-link">Sertifikasi</a>
            <a href="#projects" class="nav-link">Proyek</a>
            <a href="#contact" class="nav-link">Kontak</a>
        </div>
        <div class="nav-lang-switcher">
            <select id="language-switcher" aria-label="Pilih Bahasa" style="padding:4px 10px;border-radius:6px;margin-right:16px;">
                <option value="ENG">ENG</option>
                <option value="ID">ID</option>
            </select>
        </div>
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
