<!-- Experience Section -->
<section id="experience" class="experience">
    <div class="container">
        <h2 class="section-title">Experience</h2>
        <div class="exp-card">
            <div class="exp-header">
                <h3>Web Developer Intern</h3>
                <h4>PT. Laskar Teknologi Mulia (CyberLabs)</h4>
            </div>
            <div class="exp-content">
                <ul>
                    <li>Created & developed websites using Laravel and MySQL</li>
                    <li>Deployed web applications to servers</li>
                    <li>Collaborated with the team to complete assigned tasks</li>
                </ul>
                
                <div class="exp-certificate">
                    <h4>Internship Certificate</h4>
                    <div class="exp-certificate-container">
                        <img src="images/My Certificate/CYBERLABS_MAGANG.jpg" alt="Internship Certificate" class="exp-certificate-img">
                        <div class="exp-certificate-overlay">
                            <a href="images/My Certificate/CYBERLABS_MAGANG.jpg" target="_blank" class="cert-view-btn">
                                <i class="fas fa-eye"></i> View Full Certificate
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
